In [1]:
import pickle
loadModel = pickle.load(open('rfc_cs_finhacks.sav', 'rb'))
loadScaler = pickle.load(open('scaler1.sav', 'rb'))

In [3]:
import pandas as pd

data = pd.read_csv('datacs.csv')
data.head()

,jumlah_kartu,outstanding,limit_kredit,tagihan,total_pemakaian_tunai,total_pemakaian_retail,sisa_tagihan_tidak_terbayar,rasio_pembayaran,persentasi_overlimit,rasio_pembayaran_3bulan,...,B,C,D,E,F,G,H,I,J,K
0,0.066667,0.000045,0.004012,0.000005,0.0,0.052108,0.000059,0.209366,0.0,0.433893,...,0,0,0,0,0,0,0,1,0,0
1,0.066667,0.000337,0.007021,0.000373,0.0,0.052111,0.000000,0.208193,0.0,0.433332,...,0,0,0,0,0,0,0,0,0,0
2,0.133333,0.008482,0.025075,0.006592,0.0,0.052108,0.000000,0.209341,0.0,0.434082,...,0,0,0,0,0,0,0,0,0,0
3,0.200000,0.004382,0.018054,0.000145,0.0,0.060545,0.001309,0.209341,0.0,0.433520,...,0,0,0,0,0,1,0,0,0,0
4,0.066667,0.011781,0.007021,0.009681,0.0,0.060977,0.013405,0.209295,0.0,0.434063,...,0,0,0,0,0,0,0,0,0,0

In [4]:
predictions = loadModel.predict(data)

In [5]:
pd.Series(predictions).value_counts()

0    10405
1     5088
dtype: int64

In [16]:
data = pd.read_csv('npl_test.csv')
data.head()

,X,jumlah_kartu,outstanding,limit_kredit,tagihan,total_pemakaian_tunai,total_pemakaian_retail,sisa_tagihan_tidak_terbayar,kode_cabang,rasio_pembayaran,...,skor_delikuensi,jumlah_tahun_sejak_pembukaan_kredit,total_pemakaian,sisa_tagihan_per_jumlah_kartu,sisa_tagihan_per_limit,total_pemakaian_per_limit,pemakaian_3bln_per_limit,pemakaian_6bln_per_limit,utilisasi_3bulan,utilisasi_6bulan
0,15494,2,60792,3000000.0,44480.0,0.0,0.0,48137,A,98.99,...,0,2.0,0.0,24068.5,0.016046,0.000000,0.032890,0.011111,0.158176,0.526592
1,15495,4,76553607,62000000.0,55456096.0,0.0,0.0,74462952,A,0.00,...,0,8.5,0.0,18615738.0,1.201015,0.000000,0.003065,0.410565,1.117404,1.051829
2,15496,2,133429,10000000.0,64248.0,0.0,112292.0,0,C,100.00,...,0,8.5,112292.0,0.0,0.000000,0.011229,0.017020,0.051167,0.012370,0.018460
3,15497,2,819217,30000000.0,504339.0,0.0,528500.0,31206,A,100.00,...,0,4.5,528500.0,15603.0,0.001040,0.017617,0.027291,0.013551,0.027675,0.005314
4,15498,2,775729,6000000.0,761151.0,0.0,0.0,0,A,100.00,...,0,2.0,0.0,0.0,0.000000,0.000000,0.171277,0.044444,0.341585,0.772101

In [17]:
skordelikuensi = pd.get_dummies(data['skor_delikuensi'])
kode = pd.get_dummies(data['kode_cabang'])
data.drop(['skor_delikuensi','kode_cabang'],axis=1,inplace=True)
data = pd.concat([data,skordelikuensi,kode],axis=1)
data.head()

,X,jumlah_kartu,outstanding,limit_kredit,tagihan,total_pemakaian_tunai,total_pemakaian_retail,sisa_tagihan_tidak_terbayar,rasio_pembayaran,persentasi_overlimit,...,B,C,D,E,F,G,H,I,J,K
0,15494,2,60792,3000000.0,44480.0,0.0,0.0,48137,98.99,0.00,...,0,0,0,0,0,0,0,0,0,0
1,15495,4,76553607,62000000.0,55456096.0,0.0,0.0,74462952,0.00,26.58,...,0,0,0,0,0,0,0,0,0,0
2,15496,2,133429,10000000.0,64248.0,0.0,112292.0,0,100.00,0.00,...,0,1,0,0,0,0,0,0,0,0
3,15497,2,819217,30000000.0,504339.0,0.0,528500.0,31206,100.00,0.00,...,0,0,0,0,0,0,0,0,0,0
4,15498,2,775729,6000000.0,761151.0,0.0,0.0,0,100.00,0.00,...,0,0,0,0,0,0,0,0,0,0

In [18]:
data = data.drop('X', axis=1)

In [19]:
scaled_features = loadScaler.transform(data[data.columns[:20]])

In [20]:
dataScaled = pd.DataFrame(scaled_features,columns=data.columns[:20])
data.drop(data.columns[:20], axis=1, inplace=True)
data = pd.concat([dataScaled, data],axis=1)
data.head()

,jumlah_kartu,outstanding,limit_kredit,tagihan,total_pemakaian_tunai,total_pemakaian_retail,sisa_tagihan_tidak_terbayar,rasio_pembayaran,persentasi_overlimit,rasio_pembayaran_3bulan,...,B,C,D,E,F,G,H,I,J,K
0,0.066667,0.000076,0.000000,0.000039,0.0,0.052108,0.000108,0.209329,0.000000,0.433705,...,0,0,0,0,0,0,0,0,0,0
1,0.200000,0.095925,0.059178,0.088277,0.0,0.052108,0.167709,0.208193,0.139895,0.433734,...,0,0,0,0,0,0,0,0,0,0
2,0.066667,0.000167,0.007021,0.000070,0.0,0.052482,0.000000,0.209341,0.000000,0.433618,...,0,1,0,0,0,0,0,0,0,0
3,0.066667,0.001027,0.027081,0.000771,0.0,0.053866,0.000070,0.209341,0.000000,0.434083,...,0,0,0,0,0,0,0,0,0,0
4,0.066667,0.000972,0.003009,0.001180,0.0,0.052108,0.000000,0.209341,0.000000,0.433519,...,0,0,0,0,0,0,0,0,0,0